# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
data/invitations/demo.json
data/invitations/huy-hihi-duyen.json
data/platform_stats.json